.delButton {
    margin-left: 20px;
    font-weight: 900;
    outline: none;
    border: none;
    background-color: rgba(206, 105, 105, 0.575);
}

.listItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}