.App {
 height: 100vh;
 width: 100vw;
 display: flex;
 align-items: center;
 justify-content: center;
}
.App-todo-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
}

.todo-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90%;
}

.newItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.date {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 15px;
}


